<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{navbar.html}">
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form th:action="@{savePatient}" method="post">
            <div>
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" name="name" th:value="${patient.name}">
                <span th:errors="${patient.name}"></span>
            </div>
            <div>
                <label for="birthDay">Birth Date</label>
                <input id="birthDay" class="form-control" type="date" name="birthDay" th:value="${patient.birthDay}">
                <span th:errors="${patient.birthDay}"></span>
            </div>
            <div>
                <label for="sick">Is Sick</label>
                <input id="sick" class="form-check-input" type="checkbox" name="sick" th:checked="${patient.sick}">
                <span th:errors="${patient.sick}"></span>
            </div>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
</div>

</body>
</html>