<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css">
    <script src="webjars/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<div class="p-3">
    <div class="card">
        <div class="card-header">Patients</div>
        <div class="card-body">
            <form method="get" th:action="@{patients}">
                <label>Keyword</label>
                <label>
                    <input type="text" name="kw" th:value="${keyword}">
                </label>
                <button type="submit" class="btn btn-info">
                    <i class="bi bi-search"></i>
                </button>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Is Sick</th>
                </tr>
                <tr th:each="patient : ${patientPage}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.name}"></td>
                    <td th:text="${patient.birthDay}"></td>
                    <td th:text="${patient.sick}"></td>
                    <td>
                        <a class="btn btn-danger"
                           onclick="return confirm('Are you sure you want to delete?')"
                           th:href="@{/patients/delete(id=${patient.id}, kw=${keyword}, p=${currentPage})}">
                                <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </thead>
            </table>
            <ul class="nav nav-pills">
                <li th:each="value,item:${pages}">
                    <a th:class="${(currentPage == item.index) ? 'btn btn-info ms-1' : 'btn btn-outline-info ms-1'}"
                       th:href="@{/patients(p=${item.index}, kw=${keyword})}"
                       th:text="${item.index + 1}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>